.detailAccount {
    background-color: #fff;
    border: 1px solid #eee;
}
.accountSide1 , .accountSide2{
    padding: 10px 20px 50px 20px;
}
.accountSide1 > strong {
    font-size: 18px;
    font-weight: 700;
}
.accountSide1Image > div img {
    width: 100%;
}
.accountSide1Image > a {
    font-size: 13px;
    text-align: center;
    display: block;
}

.inputOne {
    cursor: not-allowed;
    background-color: #eee;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-size: 14px;
    line-height: 1.42857143;
    padding: 0 9px;
    height: 35px;
    width: 100%;
    margin-bottom: 15px;
}
.inputTwo {
    cursor: text;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-size: 14px;
    line-height: 1.42857143;
    padding: 0 9px;
    height: 35px;
    width: 100%;
    margin-bottom: 15px;
}

.gender {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.gender div {
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.gender div label {
    font-size: 13px;
}
.gender div input {
    margin-right: 10px;
}

.birthday > strong {
    font-size: 13px ;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.birthday > strong > p {
    font-weight: 400;
    margin-left: 5px;
}
.birthday > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.birthday > div select {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.getNewInfor {
    margin-top: 20px;
}

.getNewInfor > button {
    background: #326e51;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 15px;
    width: 100%;
    border: 1px solid #326e51;
    margin-top: 10px;
}
.accountSide2 > strong {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.accountSide2_updatePhone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.accountSide2_updatePhone >div {
    display: flex;
    align-items: center;
}
.accountSide2_updatePhone > div > div > p{
    font-size: 14px;
}
.accountSide2_updatePhone > div > div > span {
    font-size: 15px;
    opacity: 0.6;
}
.accountSide2_updatePhone > button{
    height: 40px;
    width: 120px;
    text-align: center;
    background: #f1f2f6;
    color: #909090;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    border: none;
    border-radius: 5px;
}
.accountSide2_updatePhone > button:hover {
    background: #cfebdd;
    color: #2f6e51 !important;
}

.accountSide2_updatePhone > div > i {
    margin-right: 15px;
    font-size: 20px;
    opacity: 0.8;
}


