.category {
    margin-top: 20px;
}
.category > h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}
.category_table {
    width: 100%;
    margin-top: 20px;
}
.category_table thead tr th , .category_table tbody tr td{
    border: 1px solid #ccc;
}
.category_table thead  p {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 15px 0px;
}

.category_table tbody p {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0px;

}
.category_table tbody p a:first-child {
    padding: 10px;
}
.category_table tbody p a:last-child {
    padding: 10px;
}