.eachCate {
    margin-top: 30px;
    margin-bottom: 20px;
}
.eachCate > h1{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}
.btnFix{
    display: flex;
    align-items: center;
}
.btnFix a{
    width: 50%;
    border: none;
    background-color: #00b156;
    padding: 5px 20px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
}
.btnFix button{
    width: 50%;
    border: none;
    background-color: #ec1f27;
    padding: 5px 20px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
}