@import url("https://fonts.googleapis.com/css?family=Space+Grotesk|Roboto&display=swap");

* {
  font-family: "Space Grotesk";
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

h2,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.pagination {
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pagination .page-item.active .page-link {
  background-color: #00b156;
  border-color: #00b156;
  color: #fff;
  font-size: 14px;
}

.pagination .page-item .page-link {
  float: left;
  margin: 0 2.5px;
  width: 28px;
  background: #fff;
  text-align: center;
  height: 28px;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  border-radius: 0;
  border: 1px solid #1c1c1c;
  text-decoration: none;
  border-radius: 3px !important;
  padding: 0;
}

.page-link {
  padding: 0;
}

.error_message {
  color: #ec1f27;
  font-size: 12px;
}

.notify_message_success {
  position: fixed;
  bottom: 50px;
  left: 0;
  background-color: #00b156;
  padding: 10px 20px;
  text-align: center;
  z-index: 60;
  width: 40%;

}

.notify_message_success>p {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  display: block;
}

.notify_message_error {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ec1f27;
  padding: 10px 20px;
  text-align: center;
  z-index: 60;
  width: 40%;
}

.notify_message_error>p {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  display: block;
}